[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "==2.9.5"
sqlalchemy = ">=1.4"
pandas = "==1.5.3"
jupyterlab = ">=3.5"
ipywidgets = "==8.0.4"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.15"
